@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_column_reverse {
    display: flex;
    flex-direction: column-reverse;
}

.space_between {
    flex-wrap: wrap;
    justify-content: space-between;
}

.space_evenly {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.justify_center {
    justify-content: center;
}

.justify_flex_start {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.justify_flex_end {
    justify-content: flex-end;
    flex-wrap: wrap;
}

.center {
    align-items: center;
}

.align_flex_start {
    align-items: flex-start;
    /* flex-wrap: wrap; */
}

.flex_row {
    display: flex;
}

.flex_row_reverse {
    display: flex;
    flex-direction: row-reverse;
}

li {
    list-style: none;
}

a {
    position: relative;
    text-decoration: none;
    color: #FFF;
}

button {
    border: none;
    padding: 0.6rem 1rem;
    background: #B83169;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.width_full {
    width: 100%;
}

.height_full {
    height: 100%;
}

.mt4 {
    margin: 4rem 0 0 0;
}

.container {
    min-height: 100vh;
    font-family: 'Poppins', 'sans-serif';
    /* display: none; */
}

.hamburger {
    display: none;
}

.mobile_menu {
    display: none;
}

.container > .content_wrapper > .right_section {
    position: absolute;
    padding: 2rem;
    width: 80%;
    left: 20%;
}

.container > .content_wrapper > .right_section .header {
    height: fit-content !important;
    padding: 0 0 1rem 0;
}

.container .content_wrapper .header_right_section {
    width: 50%;
}

.container .content_wrapper .header_right_section .search {
    position: relative;
    width: 60%;
    margin: 0 2rem 0 0;
}

.container .content_wrapper .header_right_section .search input {
    width: 100%;
    border-radius: 1.5rem;
    border: 2px solid #D9D9D9;
    height: 3rem;
}

.container .content_wrapper .header_right_section .search img {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.container .content_wrapper .header_right_section .image {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2rem;
}

.container .content_wrapper .header_right_section #username {
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
}

.container .content_wrapper .stat {
    width: 23%;
    background: #E7B82A;
    border-radius: 0.6rem;
    border: 2px solid #535151;
    height: 8rem;
    padding: 0 1rem;
    color: #19214F;
    box-shadow: 0px 5px 6px 0px #D9D9D9;
    margin: 0 0 2rem 0;
}

.container .content_wrapper .stat .top_row img {
    margin: 0 1rem 0 0;
}

.container .content_wrapper .stat .bottom_row img {
    width: 18%;
}

.container .content_wrapper .stat:nth-child(1) {
    background: #CD0508;
    color: #FFF;
    border: none;
}

.container .content_wrapper .stat:nth-child(1) .wrapper {
    height: 70%;
}

.container .content_wrapper .stat p:nth-child(1) {
    font-weight: 700;
    font-size: 1.2rem;
}

.container .content_wrapper .stat .bottom_row p {
    font-size: 2rem;
}

.container .content_wrapper .stat .top_row p {
    font-size: 1.5rem;
}

.container .box {
    background: #FFF;
    padding: 1rem;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0.6rem;
    border: 2px solid #535151;
}

.container .content_wrapper .chart_section {
    margin: 0 0 2rem 0;
}

.container .content_wrapper .chart_section .area_chart {
    width: 58%;
    height: 25rem;
}

.container .content_wrapper .chart_section .doughnut_chart {
    position: relative;
    width: 38%;
    height: 25rem;
    overflow: scroll;
}

.container .content_wrapper .chart_section .doughnut_chart::-webkit-scrollbar {
    display: none;
}

.container .content_wrapper .chart_section .doughnut_chart #summary {
    position: absolute;
    font-weight: 700;
    width: 10%;
}

.container .content_wrapper .chart_section #doughnut {
    align-self: center;
}

.container .box h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.container .content_wrapper .chart_section .area_chart .date_picker {
    padding: 0.5rem;
    width: 20%;
    border: 2px solid #9699A0;
    border-radius: 0.6rem;
}

.container .content_wrapper .bar_area .bar,
.container .content_wrapper .bar_area .table_wrapper {
    width: 49%; 
}

.container .content_wrapper .bar_area .table_wrapper .table_header a {
    color: #CD0508;
    font-weight: 600;
}

.container .content_wrapper .bar_area .table_wrapper .value {
    background: #FFF;
    border-radius: 0.6rem;
    border: 1px solid #C8C8C8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    font-weight: 500;
    margin: 0 0 1rem 0;
}

.container .content_wrapper .bar_area .table_wrapper .value .left_section .image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #D9D9D9;
    margin-right: 1rem;
}

.container .content_wrapper .bar_area .table_wrapper .value .left_section .reward p {
    color: #33A142;
}

.container .content_wrapper .bar_area .table_wrapper .value .left_section .reward p span {
    color: #E7B82A;
}

.container .content_wrapper .bar_area .table_wrapper .value .right_section #date {
    color: #9699A0;
}

.container .content_wrapper .bar_area .table_wrapper .value .right_section a {
    text-align: right;
    color: #CD0508;
}

.container .file {
    position: relative;
}

.container .file img {
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 1rem;
}

.container .file input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.container .content_wrapper .order_details {
    width: 100%;
    margin: 2rem 0 0 0;
    font-weight: 600;
}

.container .content_wrapper .order_details_header p:nth-child(1) {
    color: #19214F;
    font-size: 1.5rem;
}

.container .content_wrapper .order_details_header p:nth-child(2) {
    color: #CD0508;
}

.container .content_wrapper .order_details .table_header,
.container .content_wrapper .order_details .value {
    height: 3rem;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    background: #CD0508;
    margin: 1rem 0 0 0;
    padding: 0 1rem;
    border-radius: 0.6rem;
}

.container .content_wrapper .order_details .value {
    background: #FFF;
    color: #464646;
    box-shadow: 0px 5px 6px rgba(205, 5, 8, 0.5);
    height: 5rem;
}

.container .content_wrapper .order_details .value {
    height: 3.5rem;
    box-shadow: none;
}

.container .content_wrapper .order_details .table_header p:nth-child(1),
.container .content_wrapper .order_details .value .image {
    width: 8%;
    text-align: center;
}

.container .content_wrapper .order_details .table_header p:nth-child(2),
.container .content_wrapper .order_details .value > p:nth-child(2) {
    width: 20%;
    text-align: center;
}

.container .content_wrapper .order_details .table_header p:nth-child(3),
.container .content_wrapper .order_details .value p:nth-child(3) {
    width: 27%;
    text-align: center;
}

.container .content_wrapper .order_details .table_header p:nth-child(4),
.container .content_wrapper .order_details .value p:nth-child(4) {
    width: 13%;
    text-align: center;
}

.container .content_wrapper .order_details .table_header p:nth-child(5),
.container .content_wrapper .order_details .value p:nth-child(5) {
    width: 13%;
    text-align: center;
}

.container .content_wrapper .order_details .table_header p:nth-child(6),
.container .content_wrapper .order_details .value .text {
    width: 13%;
    text-align: center;
}

.container .content_wrapper .order_details .table_header p:nth-child(6),
.container .content_wrapper .order_details .value .text {
    width: 13%;
    text-align: center;
}

.container .content_wrapper .order_details .table_header p:nth-child(7),
.container .content_wrapper .order_details .value .action {
    width: 6%;
    text-align: center;
}

.container .content_wrapper .order_details .value .action button {
    background: none;
    padding: 0;
}

.container .content_wrapper .order_details .value .text #success {
    color: #00A962;
}

.container .content_wrapper .order_details .value .text #pending {
    color: #E7B82A;
}

.container .content_wrapper .order_details .value div span {
    width: 3rem;
    height: 2.5rem;
    border-radius: 0.6rem;
    background: #9699A0;
    display: block;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    html {
        font-size: 14px;
    }
    
    .container .content_wrapper .stat:nth-child(4) .wrapper {
        height: 80%;
    }

    .container .content_wrapper .chart_section .area_chart .date_picker {
        width: 30%;
    }
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .stat:nth-child(4) .wrapper {
        height: 80%;
    }

    .container .content_wrapper .chart_section {
        flex-direction: column;
    }

    .container .content_wrapper .chart_section .area_chart {
        width: 100%;
        margin: 0 0 2rem 0;
        padding-bottom: 5rem;
    }
    
    .container .content_wrapper .chart_section .doughnut_chart {
        width: 100%;
    }

    .container .content_wrapper .bar_area {
        flex-direction: column;
    }

    .container .content_wrapper .bar_area .bar,
    .container .content_wrapper .bar_area .table_wrapper {
        width: 100%; 
        margin: 0 0 2rem 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .stat:nth-child(4) .wrapper {
        height: 80%;
    }

    .container .content_wrapper .stats .stat {
        width: 15rem;
    }

    .container .content_wrapper .sidebar {
        width: 30% !important;
    }

    .container .content_wrapper > .right_section {
        left: 30%;
        width: 70%;
    }

    .container .content_wrapper .chart_section {
        flex-direction: column;
    }

    .container .content_wrapper .chart_section .area_chart {
        width: 100%;
        margin: 0 0 2rem 0;
        padding-bottom: 5rem;
    }
    
    .container .content_wrapper .chart_section .doughnut_chart {
        width: 100%;
    }

    .container .content_wrapper .bar_area {
        flex-direction: column;
    }

    .container .content_wrapper .bar_area .bar,
    .container .content_wrapper .bar_area .table_wrapper {
        width: 100%; 
        margin: 0 0 2rem 0;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .stat:nth-child(4) .wrapper {
        height: 80%;
    }

    .container .content_wrapper .stats .stat {
        width: 15rem;
    }

    .container .content_wrapper .sidebar {
        width: 30% !important;
    }

    .container .content_wrapper > .right_section {
        left: 30%;
        width: 70%;
    }

    .container .content_wrapper .chart_section {
        flex-direction: column;
    }

    .container .content_wrapper .chart_section .area_chart {
        width: 100%;
        margin: 0 0 2rem 0;
        padding-bottom: 5rem;
    }
    
    .container .content_wrapper .chart_section .doughnut_chart {
        width: 100%;
    }

    .container .content_wrapper .bar_area {
        flex-direction: column;
    }

    .container .content_wrapper .bar_area .bar,
    .container .content_wrapper .bar_area .table_wrapper {
        width: 100%; 
        margin: 0 0 2rem 0;
    }
}